{% extends "@PlatypusBundle/Resources/views/Default/layout.html.twig" %}

{% block title %}
    Edit post
{% endblock %}

{% block content %}
    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('platypus_homepage') }}">return to the Homepage</a>.
    </p>
{% endblock %}
